<footer class="footer">
  <small>
    这里是页脚
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", '#'%></li>
      <li><%= link_to "联系", '#'%></li>
      <li><a href="http://www.baidu.com">百度一下</a></li>
    </ul>
  </nav>
</footer>
