<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Blog", '#', id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "首页", '#'%></li>
        <li><%= link_to "帮助", '#'%></li>
        <li><%= link_to "登录", '#'%></li>
      </ul>
    </nav>
  </div>
</header>
